In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load the dataset
df = pd.read_csv("Census.csv")

# Select categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Encode categorical columns
for column in categorical_columns:
    df[column] = label_encoder.fit_transform(df[column])

# Print the transformed DataFrame
print(df.head())

   age  workclass  final-weight  education  education-num  marital-status  \
0   39          7         77516          9             13               4
1   50          6         83311          9             13               2
2   38          4        215646         11              9               0
3   53          4        234721          1              7               2
4   28          4        338409          9             13               2

   occupation  relationship  race  sex  capital-gain  capital-loos  \
0           1             1     4    1          2174             0
1           4             0     4    1             0             0
2           6             1     4    1             0             0
3           6             0     2    1             0             0
4          10             5     2    0             0             0

   hour-per-week  native-country  income
0             40              39       0
1             13              39       0
2             40              39       0
3             40              39       0
4             40               5       0

In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv("Census.csv")

# Display the unique number of values in the "income" attribute
unique_values = df['income'].value_counts()

print("Unique values in the 'income' attribute:")
print(unique_values)

Unique values in the 'income' attribute:
 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTE

# Load the dataset
df = pd.read_csv("Census.csv")

# Encode categorical columns
label_encoder = LabelEncoder()
for column in df.select_dtypes(include=['object']).columns:
    df[column] = label_encoder.fit_transform(df[column])

# Separate features (X) and target variable (y)
X = df.drop(columns=['income'])
y = df['income']

# Apply SMOTE to balance the dataset
smote = SMOTE()
X_resampled, y_resampled = smote.fit_resample(X, y)

# Print the shape of the resampled data
print("Shape of X_resampled:", X_resampled.shape)
print("Shape of y_resampled:", y_resampled.shape)

Shape of X_resampled: (49440, 14)
Shape of y_resampled: (49440,)

In [6]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Load the dataset
df = pd.read_csv("Census.csv")

# Select categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns

# Apply OneHotEncoding to categorical columns
encoder = OneHotEncoder(sparse=False, drop='first')  # Initialize OneHotEncoder
encoded_data = encoder.fit_transform(df[categorical_columns])  # Fit and transform the categorical columns
encoded_columns = encoder.get_feature_names_out(input_features=categorical_columns)  # Get feature names for encoded columns
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)  # Convert to dataframe

# Drop original categorical columns from the dataset
df.drop(columns=categorical_columns, inplace=True)

# Concatenate the original dataframe with the encoded dataframe
df_encoded = pd.concat([df, encoded_df], axis=1)

# Print the first few rows of the encoded dataset
print("Encoded dataset with OneHotEncoding:")
print(df_encoded.head())

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Encoded dataset with OneHotEncoding:
   age  final-weight  education-num  capital-gain  capital-loos  \
0   39         77516             13          2174             0
1   50         83311             13             0             0
2   38        215646              9             0             0
3   53        234721              7             0             0
4   28        338409             13             0             0

   hour-per-week  workclass_ Federal-gov  workclass_ Local-gov  \
0             40                     0.0                   0.0
1             13                     0.0                   0.0
2             40                     0.0                   0.0
3             40                     0.0                   0.0
4             40                     0.0                   0.0

   workclass_ Never-worked  workclass_ Private  ...  \
0                      0.0                 0.0  ...
1                      0.0                 0.0  ...
2                      0.0                 1.0  ...
3                      0.0                 1.0  ...
4                      0.0                 1.0  ...

   native-country_ Puerto-Rico  native-country_ Scotland  \
0                          0.0                       0.0
1                          0.0                       0.0
2                          0.0                       0.0
3                          0.0                       0.0
4                          0.0                       0.0

   native-country_ South  native-country_ Taiwan  native-country_ Thailand  \
0                    0.0                     0.0                       0.0
1                    0.0                     0.0                       0.0
2                    0.0                     0.0                       0.0
3                    0.0                     0.0                       0.0
4                    0.0                     0.0                       0.0

   native-country_ Trinadad&Tobago  native-country_ United-States  \
0                              0.0                            1.0
1                              0.0                            1.0
2                              0.0                            1.0
3                              0.0                            1.0
4                              0.0                            0.0

   native-country_ Vietnam  native-country_ Yugoslavia  income_ >50K
0                      0.0                         0.0           0.0
1                      0.0                         0.0           0.0
2                      0.0                         0.0           0.0
3                      0.0                         0.0           0.0
4                      0.0                         0.0           0.0

[5 rows x 101 columns]

In [8]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Load the dataset
df = pd.read_csv("Census.csv")

# Select only numerical columns for standardization
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns

# Initialize the StandardScaler
scaler = StandardScaler()

# Standardize the numerical columns
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

# Print the first few rows of the standardized dataset
print(df.head())

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Load the dataset
df = pd.read_csv("Census.csv")

# Select only numerical columns for standardization
numerical_columns = df.select_dtypes(include=['int64', 'float64']).columns

# Initialize the StandardScaler
scaler = StandardScaler()

# Standardize the numerical columns
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

# Print the first few rows of the standardized dataset
print(df.head())

        age          workclass  final-weight   education  education-num  \
0  0.030671          State-gov     -1.063611   Bachelors       1.134739
1  0.837109   Self-emp-not-inc     -1.008707   Bachelors       1.134739
2 -0.042642            Private      0.245079     HS-grad      -0.420060
3  1.057047            Private      0.425801        11th      -1.197459
4 -0.775768            Private      1.408176   Bachelors       1.134739

        marital-status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital-gain  capital-loos  hour-per-week  native-country  income
0      0.148453      -0.21666      -0.035429   United-States   <=50K
1     -0.145920      -0.21666      -2.222153   United-States   <=50K
2     -0.145920      -0.21666      -0.035429   United-States   <=50K
3     -0.145920      -0.21666      -0.035429   United-States   <=50K
4     -0.145920      -0.21666      -0.035429            Cuba   <=50K

In [14]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from imblearn.over_sampling import SMOTE

# Load the original dataset
df = pd.read_csv("Census.csv")

# Step 1: Apply LabelEncoding to categorical variables
label_encoder = LabelEncoder()
categorical_columns = df.select_dtypes(include=['object']).columns
for col in categorical_columns:
    df[col] = label_encoder.fit_transform(df[col])

# Save the preprocessed DataFrame to preprocessed_df
preprocessed_df = df.copy()

# Step 2: Apply OneHotEncoding to categorical variables
onehot_encoder = OneHotEncoder(drop='first')  # Drop the first column to avoid multicollinearity
encoded_features = onehot_encoder.fit_transform(df[categorical_columns])
encoded_df = pd.DataFrame(encoded_features.toarray(), columns=onehot_encoder.get_feature_names_out(categorical_columns))
df = pd.concat([df, encoded_df], axis=1)

# Step 3: Use SMOTE technique to manage imbalance
smote = SMOTE()
X_resampled, y_resampled = smote.fit_resample(df.drop(columns=['income']), df['income'])
df_resampled = pd.concat([pd.DataFrame(X_resampled, columns=df.drop(columns=['income']).columns), pd.DataFrame(y_resampled, columns=['income'])], axis=1)

# Save the preprocessed DataFrame to preprocessed_df
preprocessed_df = df_resampled.copy()

# Step 4: Apply Standardization to numerical features
scaler = StandardScaler()
numerical_columns = df_resampled.select_dtypes(include=['int64', 'float64']).columns
df_resampled[numerical_columns] = scaler.fit_transform(df_resampled[numerical_columns])

# Save the final preprocessed dataset to preprocessed_dataset.csv
df_resampled.to_csv("preprocessed_dataset.csv", index=False)

In [15]:
import pandas as pd

# Load the preprocessed dataset
preprocessed_df = pd.read_csv("preprocessed_dataset.csv")

# Display the first 10 rows of the preprocessed dataset
preprocessed_df.head(10)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,...,native-country_34,native-country_35,native-country_36,native-country_37,native-country_38,native-country_39,native-country_40,native-country_41,income_1,income
0,-0.109272,2.336561,-1.066622,-0.395015,1.036265,1.221483,-1.426260,-0.088469,0.398937,0.668272,...,-0.021879,-0.049779,-0.046359,-0.022638,-0.022544,0.345639,-0.040877,-0.026221,-1.0,-1.0
1,0.778899,1.603420,-1.011361,-0.395015,1.036265,-0.293991,-0.667010,-0.741194,0.398937,0.668272,...,-0.021879,-0.049779,-0.046359,-0.022638,-0.022544,0.345639,-0.040877,-0.026221,-1.0,-1.0
2,-0.190015,0.137138,0.250601,0.189483,-0.601158,-1.809464,-0.160844,-0.088469,0.398937,0.668272,...,-0.021879,-0.049779,-0.046359,-0.022638,-0.022544,0.345639,-0.040877,-0.026221,-1.0,-1.0
3,1.021127,0.137138,0.432502,-2.733004,-1.419870,-0.293991,-0.160844,-0.741194,-2.059274,0.668272,...,-0.021879,-0.049779,-0.046359,-0.022638,-0.022544,0.345639,-0.040877,-0.026221,-1.0,-1.0
4,-0.997444,0.137138,1.421283,-0.395015,1.036265,-0.293991,0.851489,2.522431,-2.059274,-1.496398,...,-0.021879,-0.049779,-0.046359,-0.022638,-0.022544,-3.198102,-0.040877,-0.026221,-1.0,-1.0
5,-0.270758,0.137138,0.907982,0.481732,1.445620,-0.293991,-0.667010,2.522431,0.398937,-1.496398,...,-0.021879,-0.049779,-0.046359,-0.022638,-0.022544,0.345639,-0.040877,-0.026221,-1.0,-1.0
6,0.698156,0.137138,-0.278262,-1.271761,-2.238582,0.463746,0.345322,-0.088469,-2.059274,-1.496398,...,-0.021879,-0.049779,-0.046359,-0.022638,-0.022544,-3.198102,-0.040877,-0.026221,-1.0,-1.0
7,0.940385,1.603420,0.193346,0.189483,-0.601158,-0.293991,-0.667010,-0.741194,0.398937,0.668272,...,-0.021879,-0.049779,-0.046359,-0.022638,-0.022544,0.345639,-0.040877,-0.026221,1.0,1.0
8,-0.755215,0.137138,-1.369251,0.481732,1.445620,1.221483,0.851489,-0.088469,0.398937,-1.496398,...,-0.021879,-0.049779,-0.046359,-0.022638,-0.022544,0.345639,-0.040877,-0.026221,1.0,1.0
9,0.132956,0.137138,-0.285300,-0.395015,1.036265,-0.293991,-0.667010,-0.741194,0.398937,0.668272,...,-0.021879,-0.049779,-0.046359,-0.022638,-0.022544,0.345639,-0.040877,-0.026221,1.0,1.0

In [16]:
preprocessed_df.shape

(49440, 110)

In [17]:
import pandas as pd

# Load the dataset
df = pd.read_csv("preprocessed_dataset.csv")

# Display the unique number of values in the "income" attribute
unique_values = df['income'].value_counts()

print("Unique values in the 'income' attribute:")
print(unique_values)

Unique values in the 'income' attribute:
-1.0    24720
 1.0    24720
Name: income, dtype: int64